@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inknut Antiqua", "Helvetica Neue";
  overflow-x: hidden;
}

.activ {
  border-bottom: 2px solid #cee7e6;
}
/*---- Start header ----*/
header {
  width: 100%;
  height: 100px;
  background-color: #f6f3ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
header .image img {
  width: 40%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li a {
  display: block;
  text-decoration: none;
  margin: 0 5px;
  padding: 10px 25px;
  color: #914040;
  font-weight: 500;
  font-size: 16px;
  transition-duration: 1s;
}

.nav-bar ul li a:hover {
  color: #cee7e6;
}

.nav-bar ul li .active:hover {
  color: #cee7e6;
  transition-duration: 0.5s;
}
/*-- Media Queries header --*/

/*---- End header ----*/
/*---------------------------------------- Page Accueil --------------------------------*/
/*---- First section ----*/
.Sect1 {
  height: 90vh;
  background-color: #f6f3ee;
}

.Sect1 .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Sect1 .content .titpar {
  display: grid;
  width: 40%;
  gap: 2rem;
}

.Sect1 .content .titpar h3 {
  font-size: 48px;
  line-height: 64px;
  padding-bottom: 5%;
}

.Sect1 .content .titpar p {
  color: #914040;
  line-height: 24px;
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn1 {
  background-color: #914040;
  color: #fff;
  width: 262.819px;
  height: 58.404px;
  border: none;
  border-radius: 15px;
}

.btn .btn1 a {
  text-decoration: none;
  color: #fff;
}

.btn .btn1 a:hover {
  color: #914040;
}

.btn1:hover {
  background-color: transparent;
  border: 1px solid #914040;
  color: #914040;
  transition-duration: 1s;
}

/*-- End Media Query First Section ----*/

/*---- End First Section ---- */

/*---- Second Section ----*/
.Sect2 {
  height: 100vh;
  background: #cee7e6;
}

.Sect2 h3 {
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.Sect2 .artist {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.Sect2 .artist .art_producter {
  background-color: #fff;
  width: 280px;
  height: 380px;
  border-radius: 8px;
}

.Sect2 .artist .art_producter img {
  width: 240px;
  height: 189px;
  border-radius: 8px;
  margin: 20px;
}

.Sect2 .artist .art_producter p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #a46666;
}

/*---- End Second Section ----*/

/*---- Third Section ----*/

.Sect3 {
  height: 130vh;
}

.Sect3 h3 {
  text-align: center;
  font-size: 32px;
  color: #cee7e6;
}

.grid-product div > img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-product > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-product > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-product {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin: 20px;
}

.grid-product .wide {
  grid-column: span 2;
}

.grid-product .tall {
  grid-row: span 2;
}

.grid-product .big {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-product .big-tall {
  grid-column: span 2;
  grid-row: span 3;
}

/*---- End Third Section ----*/
/*---- Fourth Section ----*/
.Sect4 {
  height: 90vh;
  background: #f6f3ee;
}

.Sect4 h3 {
  text-align: center;
  font-size: 32px;
  color: #914040;
}

.Sect4 .contentAtelier {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Sect4 .contentAtelier .titparAtelier {
  display: grid;
  width: 40%;
  gap: 2rem;
}

.Sect4 .contentAtelier .titparAtelier h4 {
  font-size: 48px;
  line-height: 64px;
  padding-bottom: 5%;
}
.Sect4 .contentAtelier .titparAtelier p {
  color: #000;
  line-height: 24px;
  overflow: hidden;
}

.Sect4 .contentAtelier div img {
  display: grid;
  width: 100%;
  gap: 2rem;
}

/*---- FAQ ---- */
.section {
  min-height: 80vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq h3 {
  text-align: center;
  font-size: 32px;
  color: #000;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question h4 {
  font-size: 1.2rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 0.8rem;
  overflow: hidden;
}

.faq.active .answer {
  max-height: 300px;
}

.faq.active svg {
  transform: rotate(180deg);
}

/*---- End FAQ ----*/
/*---------------------------------------- End Page Accueil --------------------------------*/
/*---------------------------------------- Page Atelier --------------------------------*/
.Sect1Atelier {
  height: 90vh;
  background-color: #f6f3ee;
}

.Sect1Atelier .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Sect1Atelier .content .titpar {
  margin-top: 5%;
  display: flex;
  width: 40%;
  gap: 2rem;
  flex-wrap: wrap;
}

.Sect1Atelier .content .titpar h3 {
  font-size: 48px;
  line-height: 56px;
  overflow: hidden;
}

.Sect1Atelier .content .titpar p {
  color: #000;
  line-height: 24px;
  overflow: hidden;
}
.Sect1Atelier .content .titpar .dateHeure {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}

.Sect1Atelier .content .titpar .dateHeure .date,
.heure,
.assite h4 {
  color: #99c0dc;
}

.Sect1Atelier .content .titpar .dateHeure .sep {
  height: 100px;
  border: 3px solid #99c0dc;
}

.Sect1Atelier .contentAtelier .tswira {
  width: 30%;
  height: auto;
}

.Sect1Atelier .contentAtelier .tswira img {
  width: 100%;
  height: 100%;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
/*---------------------------------------- End Page Atelier --------------------------------*/

/*---------------------------------------- Page Galerie --------------------------------*/
.Sect1Galerie {
  background-image: url(../images/wall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.Sect1Galerie h3 {
  font-size: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 32%;
}

.Sect2Galerie h3 {
  text-align: center;
  font-size: 32px;
  color: #914040;
}

.Sect2Galerie .grid-product > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sect2Galerie .grid-product > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Sect2Galerie .grid-product {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin: 20px;
}

.Sect2Galerie .grid-product .wide {
  grid-column: span 2;
}

.Sect2Galerie .grid-product .tall {
  grid-row: span 2;
}

.Sect2Galerie .grid-product .big {
  grid-column: span 2;
  grid-row: span 2;
}

.Sect2Galerie .grid-product .big-tall {
  grid-column: span 2;
  grid-row: span 3;
}

.videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 20px;
}

/*---------------------------------------- End Page Galerie --------------------------------*/
/*----  footer ----*/
.foot {
  height: 50vh;
  background: #a46666;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
}

.foot div ul li {
  list-style: none;
}

.foot div ul li a {
  text-decoration: none;
  color: #fff;
}

.foot .social-media {
  color: #fff;
  height: 125px;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.foot .social-media .icon {
  width: 140px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.foot .sponsor {
  color: #fff;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------ Media Query footer ------*/
/* Styles for phones (up to 575px wide) */

/*---- End footer ----*/
/*---- form ----*/
form {
  padding: 25px;
  margin: 25px 0;
  background: #f6f3ee;
  max-width: 500px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}
.formulaire h2 {
  font-size: 27px;
  text-align: center;
  margin: 0px 0 30px;
  color: #914040;
}
form .form-group {
  margin-bottom: 15px;
  position: relative;
}
form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
  color: #914040;
}
form input,
form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: none;
}
form input:focus,
form select:focus {
  border-color: #9a9a9a;
}

.submit-btn {
  margin-top: 30px;
}
.submit-btn input {
  color: white;
  border: none;
  height: auto;
  font-size: 16px;
  padding: 13px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background: #914040;
  transition: 0.2s ease;
}
.submit-btn input:hover {
  color: #914040;
  border: 1px solid #914040;
  background-color: transparent;
}
/*---- End form ----*/

/* -- Media Query First Section ----*/

@media only screen and (max-width: 575px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #000000;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #f6f3ee;
    transition: 0.25s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 50%;
    width: 100%;
    z-index: 1;
  }
  nav ul .active {
    height: 450px;
  }
  .nav-bar ul {
    display: block;
    /* width: fit-content; */
    margin: 0px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  /* Start Section 1 */
  .Sect1 {
    height: 50vh;
  }
  .Sect1 .content {
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    width: 100%;
  }
  .Sect1 .content .titpar {
    width: 50%;
  }
  .Sect1 .content .titpar h3 {
    position: relative;
    top: 1.8rem;
    font-size: 16px;
    line-height: 22px;
  }
  .Sect1 .content .titpar p {
    font-size: 10px;
    line-height: 15px;
    margin-top: 16%;
    text-align: justify;
  }
  .Sect1 .content .tswira {
    width: 50%;
  }
  .Sect1 .content .tswira img {
    width: 75%;
  }
  .Sect1 .btn {
    display: flex;
    justify-content: start;
    margin: 8% 0 0 5%;
  }
  .Sect1 .btn .btn1 {
    width: 23%;
    height: 24px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* End Section 1 */
  /* Start Section 2 */
  .Sect2 {
    height: 100vh;
  }
  .Sect2 h3 {
    font-size: 24px;
  }
  .Sect2 .artist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
  .Sect2 .artist .art_producter {
    width: 45%;
    height: 45%;
  }
  .Sect2 .artist .art_producter img {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 75%;
    height: 40%;
  }
  .Sect2 .artist .art_producter h5 {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #a46666;
  }
  .Sect2 .artist .art_producter p {
    color: #000;
    font-size: 10px;
    line-height: 10px;
    text-align: start;
    padding: 5% 8%;
  }
  /* End Section 2 */
  /* Start Section 3 */
  .Sect3 {
    height: 100vh;
  }
  .Sect3 h3 {
    font-size: 24px;
  }
  .Sect3 .grid-product {
    display: flex;
    flex-direction: column;
  }
  /* End Section 3*/
  /* Start Section 4 */
  .Sect4 {
    height: 50vh;
  }
  .Sect4 h3 {
    font-size: 24px;
  }
  .Sect4 .contentAtelier {
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    width: 100%;
  }
  .Sect4 .contentAtelier .titparAtelier {
    width: 50%;
  }
  .Sect4 .contentAtelier .titparAtelier h4 {
    position: relative;
    top: 1.8rem;
    font-size: 22px;
    line-height: 22px;
    overflow: hidden;
  }
  .Sect4 .contentAtelier .titparAtelier p {
    font-size: 8px;
    line-height: 15px;
    margin-top: 8%;
    text-align: justify;
  }
  .Sect4 .contentAtelier .tswira {
    width: 50%;
  }
  .Sect4 .contentAtelier .tswira img {
    width: 100%;
  }
  .Sect4 .btn {
    display: flex;
    justify-content: start;
    margin: 8% 0 0 5%;
  }
  .Sect4 .btn .btn1 {
    width: 25%;
    height: 32px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* End Section 4 */
  /* Start Section 5 */
  .section {
    width: 80%;
  }
  .section h3 {
    font-size: 24px;
  }
  /* End Section 5 */
  /* Start page Galerie*/
  .Sect1Galerie {
    background-image: url(../images/wall.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
  }
  .Sect1Galerie h3 {
    position: relative;
    top: 38%;
    font-size: 64px;
  }
  .Sect2Galerie h3 {
    font-size: 32px;
  }
  .Sect2Galerie .grid-product {
    display: flex;
    flex-direction: column;
  }
  .videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .videos .video1, .videos .video2 {
    width: 360;
    height: 315;
  }
  /* End page Galerie */
  /* Start page Atelier */
  .Sect1Atelier {
    height: 5%;
  }
  .Sect1Atelier .content {
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    width: 100%;
  }
  .Sect1Atelier .content .titpar {
    width: 50%;
  }
  .Sect1Atelier .content .titpar h3 {
    position: relative;
    top: 1.8rem;
    font-size: 24px;
    line-height: 24px;
  }
  .Sect1Atelier .content .titpar p {
    font-size: 10px;
    line-height: 15px;
    margin-top: 16px;
    text-align: justify;
  }
  .Sect1Atelier .content .tswira {
    width: 50%;
  }
  .Sect1Atelier .content .tswira img {
    width: 100%;
  }
  .Sect1Atelier .content .titpar .dateHeure {
    width: 100vw;
    display: flex;
    gap: 0px;
    justify-content: space-between;
  }
  .Sect1Atelier .content .titpar .dateHeure .date h4{
    font-size: 12px;
  }
  .Sect1Atelier .content .titpar .dateHeure .date p{
    font-size: 8px;
  }
  .Sect1Atelier .content .titpar .dateHeure .heure h4{
    font-size: 12px;
  }
  .Sect1Atelier .content .titpar .dateHeure .heure p{
    font-size: 8px;
  }
  .Sect1Atelier .content .titpar .dateHeure .assite h4{
    font-size: 12px;
  }
  .Sect1Atelier .content .titpar .dateHeure .assite p{
    font-size: 8px;
  }
  .Sect1Atelier .content .titpar .dateHeure .sep{
    border: 1px solid #99c0dc;
    height: 100%;
  }

  .Sect1Atelier .btn {
    display: flex;
    justify-content: start;
    margin: 4% 0 6% 4%;
  }
  .Sect1Atelier .btn .btn1 {
    width: 23%;
    height: 24px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* End page Atelier */
  .foot {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
  }
}
/*
@media only screen and (max-width: 767px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #000000;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #f6f3ee;
    transition: 0.25s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 50%;
    width: 100%;
    z-index: 1;
  }
  nav ul .active {
    height: 450px;
  }
  .nav-bar ul {
    display: block;
    /* width: fit-content; 
    margin: 0px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .Sect1 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Sect1 .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .Sect1 .content img {
    width: 211px;
    padding-top: 57%;
  }
  .Sect1 .content .titpar h3 {
    position: relative;
    top: 3.3rem;
    width: 256px;
    height: 102px;
    font-size: 22px;
    line-height: 32px;
  }
  .Sect1 .content .titpar p {
    position: relative;
    top: 4rem;
    width: 256px;
    height: 94px;
    text-align: justify;
    font-size: 12px;
  }
  .btn {
    display: flex;
    justify-content: start;
    padding: 50px 75px;
  }
  /*-- Media Query Second Section ----/
  .Sect2 {
    height: 120vh;
    background: #cee7e6;
    width: 100%;
  }
  .Sect2 .artist .art_producter {
    background-color: #fff;
    width: 225px;
    height: 270px;
    gap: 50px;
    border-radius: 8px;
  }
  .Sect2 .artist .art_producter p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #a46666;
  }
  .Sect2 .artist .art_producter img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 86%;
    height: 39%;
    object-fit: cover;
    margin: 15px;
    border-radius: 8px;
  }
  /*-- End Media Query Second Section --/
  /*-- Media Query Third Section --/
  .Sect3 {
    height: 257vh;
  }
  /*-- End Media Query Third Section --/
  /*-- Media Query fourth Section --/
  .Sect4 {
    margin-top: 10%;
    height: 80vh;
  }
  .Sect4 .contentAtelier {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .Sect4 .contentAtelier .tswira img {
    width: 300px;
  }
  .Sect4 .contentAtelier .titparAtelier h4 {
    position: relative;
    top: 3rem;
    width: 256px;
    height: 102px;
    font-size: 22px;
    line-height: 32px;
  }
  .Sect4 .contentAtelier .titparAtelier p {
    width: 256px;
    height: 94px;
    text-align: justify;
    font-size: 12px;
  }
  .Sect1Galerie h3 {
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 37%;
  }
  .videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 20px;
  }
  .foot {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
  }
}*/
/* Small Devices (Tablets) */
/* @media only screen and (min-width: 576px) and (max-width: 767px) {
} */
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
/*-- Media Query fourth Section --*/

/*-- End Media Query Second Section ----*/
/*------ End Media Query fr ------*/
